<div>
	<div id="condition-concept-by-index-caption"></div>
    <div>
        <table id="condition_concept_table" class="display treemap_table" type="condition">
            <thead>
                <tr>
                    <th>Concept Id</th>
                    <th>SOC</th>
                    <th>HLGT</th>
                    <th>HLT</th>
                    <th>PT</th>
                    <th>SNOMED</th>
                    <th>Person Count</th>
                    <th>Prevalence</th>
                    <th>Relative Risk per Person</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="loader" data-bind="if:$component.loadingReportDrilldown">
        <i class="fa fa-refresh fa-spin"></i> Loading Drilldown...
    </div>
    <div data-bind="if:$component.activeReportDrilldown">
        <div id="conditionDrilldownScatterplotHeading" class="reportSectionHeading">
        </div>
        <div class="evidenceVisualization" id="conditionDrilldownScatterplot"></div>
    </div>
</div>