<div class="panel-body">
    <div class="col-sm-12">
        <ul class="nav nav-tabs" id="myTab">
            <li>Drug Prevalence</li>
        </ul>
        <table id="drugera_table" class="display">
            <thead>
                <tr>
                    <th>Concept Id</th>
                    <th>ATC 1</th>
                    <th>ATC 3</th>
                    <th>ATC 5</th>
                    <th>Ingredient</th>
                    <th>Person Count</th>
                    <th>Prevalence</th>
                    <th>Length of Era</th>
                </tr>
            </thead>
        </table>
    </div>
</div>