<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span id="sidebar-toggle" class="fa fa-bars"></span>
            <span class="drug-label-title" data-bind="text: model.currentDrugName"></span>
            <span id="evidence-explorer-toggle" class="fa fa-stethoscope">&nbsp;&nbsp;&nbsp;Evidence Explorer</span>
        </div>
        <div class="panel-body">
            <div id="spl-display" class="drug-label" data-bind="html: model.currentDrugLabel, eventListener: { event: 'click', selector: '.product-label-link', callback: productLabelLinkClick}"></div>        
        </div>
    </div>
</div>
<div id="sidr-left" class="sidr sidr-left">
    <h2 data-bind="text: model.currentDrugName"></h2>
    <p>Use this section to browse the label sections or to find a health outcome of interest</p>
    <form>
        <input placeholder="find a condition..." id="searchtoc" type="text" data-bind="event: { keyup: searchTOC }" />
    </form>
    <ul id="toc" data-bind="eventListener: { event: 'click', selector: '.toc-item', callback: TOCLinkClick}">
        <!-- ko foreach: model.currentDrugLabelTOC -->
            <li>
                <a data-bind="text: mainHeading.text, attr: {id: mainHeading.id }"></a>
                <!-- ko if: HOITerms.length > 0 -->
                <ul>
                    <!-- ko foreach: HOITerms -->
                    <li class="toc-item toc-search-term"><a data-bind="attr: {id: id}, text: name"></a></li>
                    <!-- /ko -->
                </ul>
                <!-- /ko -->
                <!-- ko if: subHeadings.length > 0 -->
                <ul>
                    <!-- ko foreach: subHeadings -->
                    <li class="toc-item">
                        <a data-bind="attr: {id: id }, text: subHeading"></a>
                        <!-- ko if: HOITerms.length > 0 -->
                        <ul>
                            <!-- ko foreach: HOITerms -->
                            <li class="toc-item toc-search-term"><a data-bind="attr: {id: id}, text: name"></a></li>
                            <!-- /ko -->
                        </ul>
                        <!-- /ko -->
                    </li>
                    <!-- /ko -->
                </ul>
                <!-- /ko -->
            </li>
        <!-- /ko -->
    </ul>
</div>
<div id="sidr-right" class="sidr sidr-right">
    <div class="panel panel-default">
        <div class="panel-heading evidence-explorer-heading">
            <span class="glyphicon glyphicon-circle-arrow-left evidence-explorer-button" id="eeFullScreen" data-bind="click: toggleFull" alt="Full Screen"></span>
            <!-- ko if: model.selectedConditionConceptId() == 0 -->
            <span data-bind="text: 'Evidence for ' + model.currentDrugName()"></span>
            <!-- /ko -->
            <!-- ko if: model.selectedConditionConceptId() > 0 -->
            <span data-bind="text: 'Evidence for ' + model.currentDrugName() + ' with ' + model.selectedConditionConceptName()"></span>
            <!-- /ko -->
            <span  id="eeClose" class="glyphicon glyphicon-remove-circle evidence-explorer-button evidence-explorer-close-button"></span>
        </div>
        <ul class="nav nav-tabs" data-bind="eventListener: { event: 'click', selector: '.tab', callback: tabClick}">
          <li role="presentation" data-bind="css: {active: model.drugLabelActiveTab() == 'obs'}" tabName="obs" class="tab"><a>Observational Evidence</a></li>
          <li role="presentation" data-bind="css: {active: model.drugLabelActiveTab() == 'sci'}" tabName="sci" class="tab"><a>Scientific Literature</a></li>
          <li role="presentation" data-bind="css: {active: model.drugLabelActiveTab() == 'spo'}" tabName="spo" class="tab"><a>Spontaneous Reports</a></li>
          <li role="presentation" data-bind="css: {active: model.drugLabelActiveTab() == 'lab'}" tabName="lab" class="tab"><a>Label</a></li>
        </ul>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="debug">
                Drug Concept ID: <span id="drugConceptId" data-bind="text: model.currentDrugConceptId"></span><br/>
                Set ID: <span id="setId" data-bind="text: model.currentDrugSetId"></span><br/>
                Drug Name: <span data-bind="text: model.currentDrugName"></span><br/>
                Selected HOI Concept_ID: <span data-bind="text: model.selectedConditionConceptId"></span><br/>
                Selected HOI: <span id="selectedHOI" data-bind="text: model.selectedConditionConceptName"></span><br/>
                <br/>
            </div>
            <div id="tabObsEvidence" data-bind="css: {hidden: model.drugLabelActiveTab() != 'obs'}">
                <!-- START: Data Source Selection -->
                <div class="input-group"> 
                    <span class="input-group-addon" data-bind="text: model.services()[0].url"></span>
                    <select class="selectpicker form-control" data-bind="css : { invalid: model.reportSourceKey()==undefined }, options: model.sources().filter(model.hasResults), optionsValue:'sourceKey', optionsText:'sourceName', value: model.reportSourceKey, optionsCaption:'Select a Source'"></select>
                </div>
                <!-- ko if: pageModel.reportSourceKey() == undefined-->
                <div class="list-group">
                    <div class="list-group-item">
                        <h4>Please select a data source above</h4>
                    </div>
                </div>
                <!-- /ko -->
                <!-- END: Data Source Selection -->
                <!-- START: Collapsable Panel -->
                <!-- ko if: pageModel.reportSourceKey() != undefined && pageModel.currentCohortId() != undefined --><!-- start: report source defined -->
                <div class="row">
                    <div class="fancy-collapse-panel">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div id="exposure-summary" class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" id="headingOneLink" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Exposure Summary
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div>
                                        <exposure-summary params="{model: pageModel}" data-bind="visible: pageModel.currentDrugConceptId() > 0"></exposure-summary>
                                    </div>
                                </div>
                            </div>
                            <div id="clinical-characterization" data-bind="visible: pageModel.selectedConditionConceptId() > 0" class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" id="headingTwoLink" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Clinical Characterization
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <h4>Related Concepts</h4>
                                        Heracles reports for exposure cohort for drug – get selected concept and all descendants
                                        http://hixbeta.jnj.com/heracles/viewer.html?cohortId=293. Show table + scatter plot when table row is selected<br/>
                                        <condition-concept-by-index params="{model: pageModel, conceptDomain: 'condition'}"></condition-concept-by-index>
                                        <h4>Other Concepts Of Interest</h4>
                                         Pull in other concepts from hand-curated table (Penelope_related_concepts). Generate Heracles reports for exposure cohort for drug – get all descendants of the related concepts http://hixbeta.jnj.com/heracles/viewer.html?cohortId=293<br/>
                                        <other-concepts-of-interest params="{model: pageModel, conceptDomain: 'condition'}"></other-concepts-of-interest>                                                    
                                        <h4>Cohorts Of Interest</h4>
                                        Pull in report from Penelope_stats table and display similar to the one from Heracles with a link out to the Cohort definition. http://hixbeta.jnj.com/heracles/viewer.html?cohortId=293<br/>
                                    </div>
                                </div>
                            </div>
                            <div id="pop-level-estimation" data-bind="visible: pageModel.selectedConditionConceptId() > 0" class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" id="headingThreeLink" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Population Level Estimation
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        Check table for combination of drug + HOI – if found, link to the relevant study. If not, display a message such as “If you are interested in starting a study on <drug + HOI> click here to join the journey”
                                    </div>
                                </div>
                            </div>
                            <div id="pop-level-prediction" data-bind="visible: pageModel.selectedConditionConceptId() > 0" class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFour">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" id="headingFourLink" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Patient Level Prediction
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                    <div class="panel-body">
                                        Check table for combination of drug + HOI – if found, link to the relevant study. If not, display a message such as “If you are interested in starting a study on <drug + HOI> click here to join the journey”
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: Collapsable Panel -->
                <!-- /ko --> <!-- end: report source defined -->                            
            </div>
            <div id="tabSciLit" data-bind="css: {hidden: model.drugLabelActiveTab() != 'sci'}">
                <span></span>TODO: Group by evidence type (PubMed, SemMedDB, etc). Provide drill down area and heading. Also need a mouse over tool tip to describe the Avalec Method (JD to provide)</span>
                <svg class="chart"></svg>
                <!-- ko if: model.literatureEvidenceDetails().evidence != undefined -->
                  <h3 data-bind="attr: {title: model.literatureEvidenceDetails().evidence_type}, text: model.literatureEvidenceDetails().evidence_type + '  (' + model.literatureEvidenceDetails().evidence_count + ')'"></h3>
                    <!-- ko foreach: model.literatureEvidenceDetails().evidence -->                    
                    <div class="search-result row">
                    <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                        <a data-bind="attr: {title: text, href: sourceURL}, text: sourceURL" target="_blank"></a>
                        <p data-bind="text: exact"></p>
                    </div>
                      <!--
                    <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                        <a href="#" target="_blank">Article Name 1</a>
                        <p class="authors">author 1, author 2, author 3 - publication, 02/12/2014</p>
                        <p>Snippet of the article would go here....</p>
                      </div>
                    <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                        <a href="#" target="_blank">Article Name 1</a>
                        <p class="authors">author 1, author 2, author 3 - publication, 02/12/2014</p>
                        <p>Snippet of the article would go here....</p>
                      </div>
                    <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                        <a href="#" target="_blank">Article Name 1</a>
                        <p class="authors">author 1, author 2, author 3 - publication, 02/12/2014</p>
                        <p>Snippet of the article would go here....</p>
                      </div>
                    -->
                    <!--
                    <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                        <a data-bind="attr: {title: article_name}, text: article_name" target="_blank"></a>
                        <p class="authors" data-bind="text: authors + ' - ' + publication + ', ' + date_of_publication"></p>
                        <p data-bind="text: snippet"></p>
                    </div>
                    -->
                  </div>
                    <!-- /ko -->
                <!-- /ko -->
            </div>
            <div id="tabSR" data-bind="css: {hidden: model.drugLabelActiveTab() != 'spo'}">
                <h4>FAERS SUMMARY</h4>
                <open-fda params="{drug: 'celecoxib+celebrex', condition: 'myocardial+infarction', model: pageModel}"></open-fda>
                <span id="selectedHOI" data-bind="text: 'TODO: Get ' + model.selectedConditionConceptName() + ' plus all descendants'"></span>
                Put a table from LAERTES that shows concept name, count, Prevalance Rate Ration (PRR)
                <br/>
                Translate the SNOMED concepts to MedDRA PT terms. Call OpenFDA and put in 2 charts:
                <ul>
                    <li>Outcome</li>
                    <li>Seriousness</li>
                </ul>
                Hamed to provide charts
                <h4>FAERS DRILLDOWN</h4>
                Case sample - show first 100 or so with drop down to show the date, ae, gender, drug, events       
                <!-- ko if: model.openFDAConditionOccurrenceForLabel() != undefined -->
                  <h3 data-bind="text: 'Conditions related to ' + model.currentDrugName() + ' as reported by OpenFDA'"></h3>
                    <!-- ko foreach: model.openFDAConditionOccurrenceForLabel().results --> 
                    <div class="search-result row">
                        <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                            <p data-bind="text: term + ' (' + count + ')'"></p>
                        </div>
                    </div>
                    <!-- /ko -->
                <!-- /ko -->                            
            </div>
            <div id="tabLab" data-bind="css: {hidden: model.drugLabelActiveTab() != 'lab'}">
                <h4>US Labels</h4>
                Pass in the concept plus descendants and get back ATC3, ATC5, and if those concepts do/do not appear on other labels as determined by LAERTES. Show a Y/N column for each label + concept.
                <h4>EU Labels</h4>
                Same as above but for EU labels
            </div>              
        </div>
    </div>
</div>