<!-- ko if: $component.loading() == true -->
<div class="spinner">
  <h4>Loading</h4>
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
  <div class="rect6"></div>
  <div class="rect7"></div>
</div>
<!-- /ko --> <!-- loading -->
<!-- ko if: $component.loading() == false --> <!-- start: loading -->
<ul>
    <li>- Pull full data for exposure cohort on heracles: http://hixbeta.jnj.com/heracles/viewer.html?cohortId=293</li>
    <li>- Retrieve list of other related drugs using getDescendentOfAncestorConcepts.sql + getDrugEraTreemap.sql.</li>
    <li>- Create trellis plot for selected drug a la Achilles http://hixbeta.jnj.com/achilles/#/optum/drugeras</li>
</ul>
<div class="pad-10 report">
    <div class="reportHeading"><i class="fa fa-area-chart"></i> Conditions by Index Report</div>
    <div class="reportSectionHeading">Condition Prevalence</div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="active" id="treemap-tab"><a href="#condition-treemap-panel" role="tab" data-toggle="tab">Treemap</a>
        </li>
        <li><a href="#condition-table-panel" role="tab" data-toggle="tab">Table</a>
        </li>
    </ul>
    <div id='content' class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="condition-treemap-panel">
            <div id="treemap_container">
                <div class="treemap_zoomtarget"></div>
            </div>
            <div class="treemap_legend">Box Size: Prevalence, Color: Log of Relative Risk (Red to Green = Negative to Positive), Use Ctrl-Click to Zoom, Alt-Click to Reset Zoom</div>
        </div>
        <div role="tabpanel" class="tab-pane" id="condition-table-panel">
            <table id="condition_table" class="display treemap_table" type="condition">
                <thead>
                    <tr>
                        <th>Concept Id</th>
                        <th>SOC</th>
                        <th>HLGT</th>
                        <th>HLT</th>
                        <th>PT</th>
                        <th>SNOMED</th>
                        <th>Person Count</th>
                        <th>Prevalence</th>
                        <th>Relative Risk per Person</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="loader" data-bind="if:$component.loadingReportDrilldown">
        <i class="fa fa-refresh fa-spin"></i> Loading Drilldown...
    </div>
    <div data-bind="if:$component.activeReportDrilldown">
        <div id="conditionDrilldownScatterplotHeading" class="reportSectionHeading">
        </div>
        <div class="evidenceVisualization" id="conditionDrilldownScatterplot"></div>
    </div>
</div>
<!-- /ko --> <!-- end: loading -->
