<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading" data-bind="text: model.appHeading">
        </div>
        <div class="panel-body" data-bind="text: model.appBody">
        </div>
    </div>
    <div style="text-align: center">
        <h1>Explore Drug Labels</h1>
    </div>
    <div class="bs-docs-grid">
        <div class="row">
            <div class="col-md-6">
                <div class="thumbnail">
                    <a href="#/druglabel/8d52185d-421f-4e34-8db7-f7676db2a226">
                        <img class="img-responsive" style="box-shadow: 0px 2px 7.68px 0.32px rgba(0, 0, 0, 0.4), 0px 12px 26px 0px rgba(0, 0, 0, 0.4);" src="http://dailymed.nlm.nih.gov/dailymed/static/8d52185d-421f-4e34-8db7-f7676db2a226/current/celebrex-03.jpg" alt="Celebrex">
                    </a>
                    <div class="caption" style="margin-top: 20px;">
                        <h4 class="group inner list-group-item-heading">Celebrex</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="thumbnail">
                    <a href="#/druglabel/d2ddc491-88a9-4063-9150-443b4fa4330c">
                        <img class="img-responsive" style="box-shadow: 0px 2px 7.68px 0.32px rgba(0, 0, 0, 0.4), 0px 12px 26px 0px rgba(0, 0, 0, 0.4);" src="http://dailymed.nlm.nih.gov/dailymed/static/d2ddc491-88a9-4063-9150-443b4fa4330c/current/352f5dd8-4c3e-4e8e-8167-bf383bd95dd6-03.jpg" alt="Actos">
                    </a>
                    <div class="caption" style="margin-top: 20px;">
                        <h4 class="group inner list-group-item-heading">Actos</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="thumbnail">
                    <a href="#/druglabel/8d409411-aa9f-4f3a-a52c-fbcb0c3ec053">
                        <img class="img-responsive" style="box-shadow: 0px 2px 7.68px 0.32px rgba(0, 0, 0, 0.4), 0px 12px 26px 0px rgba(0, 0, 0, 0.4);" src="http://dailymed.nlm.nih.gov/dailymed/image.cfm?type=img&name=tegretol-03.jpg&setid=8d409411-aa9f-4f3a-a52c-fbcb0c3ec053" alt="Tegretol">
                    </a>
                    <div class="caption" style="margin-top: 20px;">
                        <h4 class="group inner list-group-item-heading">Tegretol</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="thumbnail">
                    <a href="#/druglabel/98e451e1-e4d7-4439-a675-c5457ba20975">
                        <img class="img-responsive" style="box-shadow: 0px 2px 7.68px 0.32px rgba(0, 0, 0, 0.4), 0px 12px 26px 0px rgba(0, 0, 0, 0.4);" src="http://dailymed.nlm.nih.gov/dailymed/image.cfm?type=img&name=aricept-0F.jpg&setid=98e451e1-e4d7-4439-a675-c5457ba20975" alt="Aricept">
                    </a>
                    <div class="caption" style="margin-top: 20px;">
                        <h4 class="group inner list-group-item-heading">Aricept</h4>
                    </div>
</div>
            </div>
        </div>
    </div>
</div>