<div class="panel panel-default">
    <div class="pad-10 report">
        <div class="reportHeading"><i class="fa fa-table"></i>US Labels</div>
        <!-- start: loading -->
        <div id="es-loading" data-bind="if: $component.loadingSummary() == true">
            <div class="spinner">
              <h4>Loading</h4>
              <div class="rect1"></div>
              <div class="rect2"></div>
              <div class="rect3"></div>
              <div class="rect4"></div>
              <div class="rect5"></div>
              <div class="rect6"></div>
              <div class="rect7"></div>
            </div>
        </div>
        <!-- end: loading -->  
        <div data-bind="if: $component.loadingSummary() == false">
            <table id="label-evidence-summary-table" style="width: 100%" class="display">
            <thead>
                <tr>
                    <th>Drug Name</th>
                    <th>ATC3</th>
                    <th>ATC5</th>
                    <th data-bind="text: 'Evidence Of ' + model.selectedConditionConceptName()"></th>
                </tr>
            </thead>
        </table>
        </div>
        <div data-bind="$if: $component.hasDetailError() == true">
            <span data-bind="text: $component.detailErrorMsg()"></span>
        </div>        
    </div>
</div>