<div class="panel panel-default">
    <div class="pad-10 report">
        <div class="reportHeading"><i class="fa fa-area-chart"></i>Other Concepts Of Interest</div>
        <div id="other-concepts-of-interest-caption" class="reportSectionHeading" data-bind="text: 'Other Concepts Of Interest For ' + model.selectedConditionConceptName()"></div>
        <!-- start: loading -->
        <div id="es-loading" data-bind="if: $component.loading() == true">
            <div class="spinner">
              <h4>Loading</h4>
              <div class="rect1"></div>
              <div class="rect2"></div>
              <div class="rect3"></div>
              <div class="rect4"></div>
              <div class="rect5"></div>
              <div class="rect6"></div>
              <div class="rect7"></div>
            </div>
        </div>
        <!-- end: loading -->
        <div data-bind="if: $component.loading() == false">
            <div data-bind="if: $component.hasNoResults() == false">
                <table id="other_concepts_of_interest_table" class="display other_concepts_of_interest_table" type="condition">
                        <thead>
                            <tr>
                                <th>Concept Id</th>
                                <th>SOC</th>
                                <th>HLGT</th>
                                <th>HLT</th>
                                <th>PT</th>
                                <th>SNOMED</th>
                                <th>Person Count</th>
                                <th>Prevalence</th>
                                <th>Log(post-pre ratio)</th>
                            </tr>
                        </thead>
                    </table>
                <div class="loader" data-bind="if:$component.loadingReportDrilldown">
                    <i class="fa fa-refresh fa-spin"></i> Loading Drilldown...
                </div>
                <div data-bind="if:$component.activeReportDrilldown">
                    <div id="conditionOtherConceptsOfInterestDrilldownScatterplotHeading" class="reportSectionHeading">
                    </div>
                    <div class="evidenceVisualization" id="conditionOtherConceptsOfInterestDrilldownScatterplot"></div>
                </div>
            </div>
            <div data-bind="if: $component.hasNoResults() == true">
                The selected concept did not return any results.
            </div>
        </div>
    </div>
</div>