<div>
	<div id="other-concepts-of-interest-caption" data-bind="text: 'Other Concepts Of Interest For ' + model.selectedConditionConceptName()"></div>
    <div>
        <table id="other_concepts_of_interest_table" class="display other_concepts_of_interest_table" type="condition">
            <thead>
                <tr>
                    <th>Concept Id</th>
                    <th>SOC</th>
                    <th>HLGT</th>
                    <th>HLT</th>
                    <th>PT</th>
                    <th>SNOMED</th>
                    <th>Person Count</th>
                    <th>Prevalence</th>
                    <th>Relative Risk per Person</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="loader" data-bind="if:$component.loadingReportDrilldown">
        <i class="fa fa-refresh fa-spin"></i> Loading Drilldown...
    </div>
    <div data-bind="if:$component.activeReportDrilldown">
        <div id="conditionOtherConceptsOfInterestDrilldownScatterplotHeading" class="reportSectionHeading">
        </div>
        <div class="evidenceVisualization" id="conditionOtherConceptsOfInterestDrilldownScatterplot"></div>
    </div>
</div>