<div id="wrapperSearchBox">
    <div class="navbar-search" role="search">
        <div class="input-group search-box">
            <input id="querytext" placeholder="search for product labels" class="form-control" type="text" data-bind="event: { keyup: checkExecuteSearch}, value: model.currentSearch()" />
            <div class="input-group-btn">
                <button class="btn btn-default"><i data-bind="click: checkExecuteSearch" class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </div>
</div>