@import url("http://fonts.googleapis.com/css?family=Roboto:400,700");
html {
    height: 100%;
}

body {
  height: 100%;
  padding-top: 65px;
  position: relative;
  font-family: 'Roboto', sans-serif !important;
    font-weight: 400 !important;
}

.drug-label {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    /* margin-top: -10px; */
    /* margin-bottom: -100px; */
    padding-left: 15px;
}

.drug-label-heading {
    height: 50px;
}

h1, h2 {
  font-weight: 700;
}

h3 span {
  color: #286090;
}

section {
  padding: 40px 0;
  border-bottom: 1px solid #c1e1ec;
}

.navbar-nav li {
 line-height: 50px;
}

.navbar-nav .glyphicon-cog {
	color: #4AC3FF;
}

.navbar-nav .glyphicon {
	font-size:1.4em;
}

.navbar-nav span.glyphicon {
	line-height:1.4em;
}


.navbar-nav .glyphicon {
	font-size:1.4em;
}

.navbar-search{
    margin-top: 8px; 
    margin-bottom: 8px;   
}

.toc-item,
.TOCHOITerm,
.product-label-link {
     cursor:pointer;
     color:blue;
     text-decoration:underline;    
}

.toc-item:hover,
.TOCHOITerm:hover,
.product-label-link:hover {
     font-weight: bold;
}

.label-image {
    margin: 20px;
    clear: both;
}

#evidence-explorer {
    height: 83.5vh; 
    overflow-x: hidden; 
    overflow-y: scroll;
}

.nav-tabs>li>a:hover {
    cursor: pointer;
    cursor: hand;
}

.nav-tabs>li>span {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.nav>li>span {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #337ab7;
}

.hidden {
    display: none;
    visibility: hidden;
}
