div.chartcontainer {
	line-height: 0px;
}

div.offscreen {
	position:absolute;
	top:10px;
	left: 10px;
	border:solid 1px red;
}
/* Legend Styles */

.legend {
	padding: 5px;
	font: 10px arial;
}
/* general bar styles */

.area {
	fill: rgb(68, 68, 136);
}
.bar {
	/* fill: #768EA0; */
}
/* Barchart styles */

.barlabel {
	font-family: arial;
	font-size: 8px;
}
/* Boxplot styles */

.boxplot {
	font: 10px arial;
}
.boxplot .median {
	stroke: #1f77b4;
}
.boxplot line {
	stroke: #1f77b4;
	stroke-width: 1px;
}
.boxplot rect,
.boxplot circle {
	fill: rgba(31, 119, 180, 0.2);
	stroke: #1f77b4;
	stroke-width: 1px;
}
.boxplot .whisker {
	stroke-dasharray: 3, 3;
	stroke: #1f77b4;
}
.boxplot .outlier {
	fill: none;
	stroke: #1f77b4;
}

table.boxplotValues tr td
{
	text-align: right;
	padding: 0px 3px;
	color:#fff;
	font-size:11px;
}

.lineplot .line {
	fill: none;
	stroke: #1f77b4;
	stroke-width: 1px;
}
.g-trellis .x-guide path.domain,
.g-trellis .y-guide path.domain {
	fill: none;
}
.g-trellis .x-guide .tick line {
	stroke: #ccc;
	stroke-width: .6;
}
.g-trellis .y-guide .tick line {
	stroke: #ccc;
	stroke-width: .6;
}
.g-label-trellis text {
    font-size: 10px;
}
.axis path,
.axis line {
	fill: none;
	stroke: black;
}
.axis text {
	font-family: arial;
	font-size: 8px;
}
.axislabel {
	font-family: arial;
	font-weight: bold;
	font-size: 12px;
}
table.data td:first-child {
	text-align: right;
}
table.data td {
	padding-left: 3px;
	padding-right: 3px;
	white-space: nowrap;
}
.g-overlay {
	fill: none;
	pointer-events: all;
}
.g-label-value,
.g-label-year {
	font-size: 6px;
}
.trellisLegend {
	font-size: 8px;
	font-family: arial;
	line-height: 4px
}
.grouper {
	fill: none;
	stroke: white;
	stroke-width: 2px;
	display: none;
}
#treemap_container svg {
	shape-rendering: 'crispEdges';
}
.treemap_legend {
	font-size: 10px;
}

.focus
{
	opacity: 0;
}

/* chart tooltips */

.d3-tip {
	line-height: 1;
	font-size: 10px;
	padding: 5px 10px 5px 10px;
	background: rgba(0,49,66,.6);
	color: #fff;
	border-radius: 0px;
	pointer-events: none;
	max-width: 400px;
}
/* Creates a small triangle extender for the tooltip */

.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	position: absolute;
	pointer-events: none;
}
/* Northward tooltips */

.d3-tip.n:after {
	content: "\25BC";
	margin: -2px 0 0 0;
	top: 100%;
	left: 0;
	text-align: center;
}
/* Eastward tooltips */

.d3-tip.e:after {
	content: "\25C0";
	margin: -4px 0 0 0;
	top: 50%;
	left: -8px;
}
/* Southward tooltips */

.d3-tip.s:after {
	content: "\25B2";
	margin: 0 0 1px 0;
	top: -8px;
	left: 0;
	text-align: center;
}
/* Westward tooltips */

.d3-tip.w:after {
	content: "\25B6";
	margin: -4px 0 0 -1px;
	top: 50%;
	left: 100%;
}

.chart .legend {
  fill: black;
  font: 14px sans-serif;
  text-anchor: start;
  font-size: 12px;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.chart .label {
  fill: black;
  font: 14px sans-serif;
  text-anchor: end;
}

.bar:hover {
  fill: brown;
}

.brush {
	stroke: #666;
	stroke-width: 1px;
	stroke-dasharray: 2 2;
	fill:none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

path.slice{
	stroke-width:2px;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}
