.rotate {

    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: left top;

    position: absolute;
    top: 0;
    left: 100%;
    white-space: nowrap;    
    font-size: 24px;
    height: 30px;
}

.drug-label-main-container {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    -webkit-transition:  left 0.4s ease-in-out;
    -moz-transition:  left 0.4s ease-in-out;
    -ms-transition:  left 0.4s ease-in-out;
    -o-transition:  left 0.4s ease-in-out;
    transition:  left 0.4s ease-in-out;
}

.drug-label-ee-main-container {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    -webkit-transition:  right 0.4s ease-in-out;
    -moz-transition:  right 0.4s ease-in-out;
    -ms-transition:  right 0.4s ease-in-out;
    -o-transition:  right 0.4s ease-in-out;
    transition:  right 0.4s ease-in-out;
}

.drug-label-main-container.open-sidebar {
    left: 240px;
}

.drug-label-ee-main-container.open-ee-sidebar {
    left: 50%;
}

#evidence-explorer-RENAMED
{
    position: absolute;
    left: 100%;
    background: #DF314D;
    width: 240px;
    height: 100%;
    box-sizing: border-box;
}

#sidebar {
    position: absolute;
    left: -255px;
    /*background: #DF314D;*/
    width: 240px;
    height: 100%;
    box-sizing: border-box;
}

#sidebar-toggle {
    background: #20425B;
    border-radius: 3px;
    display: block;
    position: relative;
    padding: 10px 7px;
    float: left;
    margin-right: 5px;
}
#sidebar-toggle:hover {
    cursor: pointer;
}
#sidebar-toggle .toc{
    display: block;
    width: 18px;
    margin-bottom: 3px;
    height: 2px;
    background-color: #fff;
    /*border-radius: 1px;*/
}
#sidebar-toggle .toc:last-child{
     margin-bottom: 0;   
}
